extends layout

block content
  div#greetings

    if user
      p Welcome, #{user.username}
      a(href="/new-message") Create a new message
    else
      p Welcome to Members Only, an exclusive clubhouse where your members can write embarrassing posts about non-members. 
      p Inside the clubhouse, members can see who the author of a post is, but outside they can only see the story and wonder who wrote it.
  
  main
    h2 Feed
    for msg in msgs
      div.card
        div.card-body
          h3.card-title= msg.title
          p.card-text= msg.text
          p= msg.timestamp
          if user && user.membership_status 
            p
              b= msg.author.username
          if user && user.admin
            form(action="/delete" method="post")
              div.form-group
                input.form-control(type="hidden" name="msg_id" value=msg._id)
              button.btn.btn-primary(type="submit") Delete
        
